body {
  background-color: #e6b1a68c;
}

.obsah {
  margin-top: 50px;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: #36110b;
}

.text {
  display: flex;
  justify-content: center;
  width: 1200px;
  margin: 20px auto;
  color: #36110b;
}
